<app-drawer>
    <div
      class="w-11/12 md:w-11/12 m-auto mt-2 md:mt-4 py-9 px-9 h-fit rounded-3xl shadow-2xl"
    >
      <div class="flex justify-between px-5">
        <button class="btn btn-square btn-secondary text-white mr-2" (click)="back()">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </button>
        <h1 class="font-medium text-2xl text-primary dark:text-white" *ngIf="categoria">
          {{categoria.name}} > Servicios
        </h1>
        <button *ngIf="categoria" class="btn btn-success" [routerLink]="['/nuevo-servicio', categoria.id]">
          Nuevo servicio
        </button>
      </div>
  
      <div class="overflow-x-auto mt-4">
        <p class="text-center w-full" *ngIf="servicios.length == 0">Sin registros</p>
        <table class="table table-zebra w-full" *ngIf="servicios.length > 0">
          <!-- head -->
          <thead>
            <tr>
              <th>ID</th>
              <th>Clave de servicio</th>
              <th>Nombre</th>
              <th>Importe</th>
              <th>Cant. Mínima</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let servicio of servicios">
              <th class="text-primary dark:text-white">{{ servicio.id }}</th>
              <td class="text-primary dark:text-white">{{ servicio.clave_servicio }}</td>
              <td class="text-primary dark:text-white">{{ servicio.nombre_servicio }}</td>
              <td class="text-primary dark:text-white">$ {{ servicio.importe }}</td>
              <td class="text-primary dark:text-white">{{ servicio.cantidad_minima }}</td>
              <td class="flex flex-col items-center justify-center">
                <div class="btn-group btn-group-vertical lg:btn-group-horizontal">
                  <button
                    class="btn btn-md btn-secondary btn-square btn-outline m-auto lg:tooltip"
                    data-tip="Editar"
                    [routerLink]="['/editar-servicio', servicio.id]"
                  >
                    <svg
                      class="m-auto"
                      aria-hidden="true"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="1.5"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </button>
                  <button
                    class="btn btn-md btn-error btn-square btn-outline m-auto lg:tooltip"
                    data-tip="Eliminar"
                    (click)="showDeletePopup(servicio.id ?? 0)"
                  >
                    <svg
                      class="m-auto"
                      aria-hidden="true"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="1.5"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <dialog id="modal_delete_servicio" class="modal modal-bottom sm:modal-middle">
      <div class="modal-box">
        <h3 class="font-bold text-lg">Eliminar servicio</h3>
        <p class="py-4">¿Deseas eliminar el servicio {{servicioEliminar?.nombre_servicio}}?</p>
        <div class="modal-action">
          <button class="btn btn-ghost" (click)="closeDeletePopup()">Cerrar</button>
          <button class="btn btn-error text-white" (click)="eliminarCategoria(servicioEliminar?.id ?? 0)">Eliminar</button>
        </div>
      </div>
    </dialog>
  </app-drawer>
  