<app-drawer>
  <div
    class="card flex-shrink-0 bg-base-100 w-11/12 md:w-11/12 m-auto mt-2 md:mt-4 py-9 px-9 h-fit rounded-3xl shadow-2xl"
    nuevoCatalogo
  >
    <h1 class="font-medium text-2xl text-primary dark:text-white">
      <button
        class="btn btn-square btn-secondary text-white mr-2"
        (click)="back()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
      </button>
      Nuevo cliente
    </h1>
    <div class="card-body">
      <form [formGroup]="nuevoClienteForm" (ngSubmit)="registrar()">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="form-control">
            <label class="label">
              <span class="label-text"
                >Nombre completo <span class="text-red-700">*</span></span
              >
            </label>
            <input
              type="text"
              placeholder="Nombre completo del cliente"
              class="input input-bordered"
              formControlName="nombre"
            />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Correo</span>
            </label>
            <input
              type="email"
              placeholder="Correo del empleado (opcional)"
              class="input input-bordered"
              formControlName="email"
            />
          </div>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Teléfono <span class="text-red-700">*</span></span>
          </label>
          <input
            type="tel"
            placeholder="Teléfono del cliente"
            class="input input-bordered"
            formControlName="telefono"
          />
        </div>
        <div class="form-control w-full md:w-4/12 lg:w-3/12">
            <label class="cursor-pointer label">
              <span class="label-text">¿El cliente registrará una ubicación?</span>
              <input type="checkbox" class="toggle toggle-accent" formControlName="addUbicaciones" (change)="reRenderUbicacionesForm()"/>
            </label>
        </div>
        <div tabindex="0" class="collapse border border-base-300 bg-gray-100 pb-4" [ngClass]="{ 'collapse-open': addUbicaciones.value === true, 'collapse-close': addUbicaciones.value === false }"> 
            <div class="collapse-title text-xl font-medium">
              Ubicación del cliente
              <br>
              <small class="font-thin">Al solicitar esta información, el cliente acepta el uso de su dirección para fines de entrega de su servicio únicamente.</small>
            </div>
            <div class="collapse-content"> 
              <form [formGroup]="ubicacionForm">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div class="form-control">
                        <label class="label">
                          <span class="label-text dark:text-white">Calle <span class="text-red-700">*</span></span>
                        </label>
                        <input
                          type="text"
                          placeholder="Dirección del cliente"
                          class="input input-bordered text-primary"
                          formControlName="calle"
                        />
                    </div>
                    <div class="form-control">
                        <label class="label">
                          <span class="label-text dark:text-white">Número <span class="text-red-700">*</span></span>
                        </label>
                        <input
                          type="tel"
                          placeholder="Número de casa"
                          class="input input-bordered text-primary"
                          formControlName="numero"
                        />
                    </div>
                    <div class="form-control">
                        <label class="label">
                          <span class="label-text dark:text-white">Colonia <span class="text-red-700">*</span></span>
                        </label>
                        <input
                          type="text"
                          placeholder="Nombre de la colonia"
                          class="input input-bordered text-primary"
                          formControlName="colonia"
                        />
                    </div>
                    <div class="form-control">
                        <label class="label">
                          <span class="label-text dark:text-white">Ciudad <span class="text-red-700">*</span></span>
                        </label>
                        <input
                          type="text"
                          placeholder="Nombre de la colonia"
                          class="input input-bordered text-primary"
                          formControlName="ciudad"
                        />
                    </div>
                    <div class="form-control">
                        <label class="label">
                          <span class="label-text dark:text-white">Código postal <span class="text-red-700">*</span></span>
                        </label>
                        <input
                          type="tel"
                          placeholder="Código postal"
                          class="input input-bordered text-primary"
                          formControlName="codigoPostal"
                          maxlength="5"
                        />
                    </div>
                    <div class="form-control">
                        <label class="label">
                          <span class="label-text dark:text-white">Nombre de la ubicación <span class="text-red-700">*</span></span>
                        </label>
                        <input
                          type="text"
                          placeholder="Casa, Oficina, etc..."
                          class="input input-bordered text-primary"
                          formControlName="nombreDireccion"
                        />
                    </div>
                </div>
              </form>
            </div>
        </div>
        <div class="form-control mt-6">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!nuevoClienteForm.valid || !ubicacionForm.valid"
          >
            Registrar cliente
          </button>
        </div>
      </form>
    </div>
  </div>
</app-drawer>
