<div class="w-full py-3">
    <ul class="steps w-full mb-3">
        <li class="step step-primary">Pago</li>
    </ul>
    <h3 *ngIf="ticket" class="mt-6 text-red-500 font-bold text-lg">Restante: {{ticket.restante}}</h3>
    <div class="divider">Método de pago</div>
    <div class="w-full flex items-center justify-center py-4">
        <div class="tabs tabs-boxed">
            <a class="tab" [ngClass]="{
                'tab-active': metodoPago == 'EFECTIVO'
            }" (click)="changeMetodoPago('EFECTIVO')">Efectivo</a> 
            <a class="tab" [ngClass]="{
                'tab-active': metodoPago == 'TARJETA'
            }" (click)="changeMetodoPago('TARJETA')">Tarjeta</a> 
            <a class="tab" [ngClass]="{
                'tab-active': metodoPago == 'TRANSFERENCIA'
            }" (click)="changeMetodoPago('TRANSFERENCIA')">Transferencia</a>
        </div>
    </div>
    <div class="divider">Cobro</div>
    <form *ngIf="ticket" class="w-full grid grid-cols-4 gap-3 items-center justify-center" [formGroup]="formPagos">
        <div class="form-control col-span-4" *ngIf="metodoPago == 'EFECTIVO'">
            <label class="label">
              <span class="label-text">Anticipo del cliente</span>
            </label>
            <input type="number" placeholder="0" class="input input-bordered" formControlName="monto"/>
            <label class="label" *ngIf="monto.invalid && (monto.dirty || monto.touched)">
              <span class="label-text-alt text-red-500">El monto tiene que ser menor o igual a {{ticket.restante}}</span>
            </label>
            <label class="label">
              <span class="label-text">Pago con</span>
            </label>
            <input type="number" placeholder="0" class="input input-bordered" formControlName="cantidadRecibida"/>
            <label class="label" *ngIf="cantidadRecibida.invalid && (cantidadRecibida.dirty || cantidadRecibida.touched)">
              <span class="label-text-alt text-red-500">La cantidad a ingresar no puede ser menor a su anticipo</span>
            </label>
            <label class="label">
              <span class="label-text">Cambio</span>
            </label>
            <input type="text" placeholder="0" class="input input-bordered" formControlName="cantidadDevuelta" readonly/>
        </div>
        <div class="form-control col-span-4" *ngIf="metodoPago == 'TARJETA' || metodoPago == 'TRANSFERENCIA'">
            <label class="label">
              <span class="label-text">Núm. de referencia / Núm. de confirmación</span>
            </label>
            <input type="text" placeholder="00000000" class="input input-bordered" formControlName="referencia"/>
            <label class="label" *ngIf="referencia.invalid && (referencia.dirty || referencia.touched)">
              <span class="label-text-alt text-red-500">Referencia no válida</span>
            </label>
        </div>
        <div class="w-full col-span-4">
            <button *ngIf="isLoading" class="w-full btn btn-wide btn-success">
                <span class="loading loading-spinner"></span>
            </button>
            <button *ngIf="!isLoading" [disabled]="!formPagos.valid || isLoading" class="w-full btn btn-wide btn-success" (click)="agregarMonto()">
                Registrar pago
            </button>
        </div>
    </form>
</div>
