<app-drawer>
    <div class="w-full md:w-10/12 my-3 mx-auto">
        <div class="card w-full bg-base-100 shadow-md p-0 my-2 mx-auto">
          <button
            class="btn bg-teal-600 hover:bg-teal-500 text-white w-8/10 md:w-1/2 lg:w-2/5 xl:w-1/3 rounded m-4"
            (click)="requestCurrentAdminCode('modal_show_current_admin_code', 'modal_current_admin_code_used')"
          >
            <svg
                width="24"
                height="24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path class="fill-current" d="M12.015 7c4.751 0 8.063 3.012 9.504 4.636-1.401 1.837-4.713 5.364-9.504 5.364-4.42 0-7.93-3.536-9.478-5.407 1.493-1.647 4.817-4.593 9.478-4.593zm0-2c-7.569 0-12.015 6.551-12.015 6.551s4.835 7.449 12.015 7.449c7.733 0 11.985-7.449 11.985-7.449s-4.291-6.551-11.985-6.551zm-.015 3c-2.209 0-4 1.792-4 4 0 2.209 1.791 4 4 4s4-1.791 4-4c0-2.208-1.791-4-4-4z"/>
            </svg>
            Obtener Código Actual
          </button>
          <button
            class="btn bg-teal-600 hover:bg-teal-500 text-white w-8/10 md:w-1/2 lg:w-2/5 xl:w-1/3 rounded m-4"
            (click)="requestGenerateAdminCode('modal_input_motive_code', 'modal_generate_admin_code_fail')"
          >
            <svg
                width="24"
                height="24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path class="fill-current" d="M8.617 5.795l-2.828 2.828 15.382 15.377 2.829-2.824-15.383-15.381zm2.119 6.362l-3.533-3.535 1.412-1.414 3.535 3.535-1.414 1.414zm-5.021 3.439l-1.344-4.363-4.371-1.327 3.111-3.35-1.035-4.453 4.455 1.02 3.338-3.123 1.344 4.363 4.371 1.328-2.043 2.199-.708-.708.929-1-2.84-.862-.508-.154-.157-.508-.873-2.834-2.169 2.03-.389.363-.517-.119-2.897-.662.674 2.894.121.518-.363.39-2.022 2.176 2.839.862.509.154.156.508.873 2.835.987-.923.708.708-2.179 2.038z"/>
            </svg>
            Generar Nuevo Código
          </button>
          <button
            class="btn bg-teal-600 hover:bg-teal-500 text-white w-8/10 md:w-1/2 lg:w-2/5 xl:w-1/3 rounded m-4"
            (click)="requestUpdateAdminCode('modal_input_id_ticket', 'modal_current_admin_code_used')"
          >
            <svg
                width="24"
                height="24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path class="fill-current" d="M5 18c4.667 4.667 12 1.833 12-4.042h-3l5-6 5 6h-3c-1.125 7.98-11.594 11.104-16 4.042zm14-11.984c-4.667-4.667-12-1.834-12 4.041h3l-5 6-5-6h3c1.125-7.979 11.594-11.104 16-4.041z"/>
            </svg>
            Actualizar Estado del Código Actual
          </button>
          <!-- MODALES PARA MOSTRAR MENSAJES -->
          <dialog id="modal_show_current_admin_code" class="modal" hidden>
            <div class="modal-box">
              <h3 class="font-bold text-lg">Código Admininistrador</h3>
              <p class="py-4">El código actualmente disponible es: {{current_admin_code!.codigo}}</p>
              <div class="modal-action">
                <form method="dialog">
                  <button class="btn" (click)="closeModal('modal_show_current_admin_code')">Close</button>
                </form>
              </div>
            </div>
          </dialog>
          <dialog id="modal_current_admin_code_used" class="modal" hidden>
            <div class="modal-box">
              <h3 class="font-bold text-lg">Código Administrador</h3>
              <p class="py-4">Usted necesita generar un nuevo código</p>
              <div class="modal-action">
                <form method="dialog">
                  <button class="btn" (click)="closeModal('modal_current_admin_code_used')">Close</button>
                </form>
              </div>
            </div>
          </dialog>
          <dialog id="modal_generate_admin_code" class="modal" hidden>
            <div class="modal-box">
              <h3 class="font-bold text-lg">Código Administrador</h3>
              <p class="py-4">El código creado fue: {{this.current_admin_code!.codigo}}, recuerda guardarlo bien...</p>
              <div class="modal-action">
                <form method="dialog">
                  <button class="btn" (click)="closeModal('modal_generate_admin_code')">Close</button>
                </form>
              </div>
            </div>
          </dialog>
          <dialog id="modal_generate_admin_code_fail" class="modal" hidden>
            <div class="modal-box">
              <h3 class="font-bold text-lg">Código Administrador</h3>
              <p class="py-4">Necesita actualizar el estado del último código</p>
              <div class="modal-action">
                <form method="dialog">
                  <button class="btn" (click)="closeModal('modal_generate_admin_code_fail')">Close</button>
                </form>
              </div>
            </div>
          </dialog>
          <dialog id="modal_update_admin_code" class="modal" hidden>
            <div class="modal-box">
              <h3 class="font-bold text-lg">Código Administrador</h3>
              <p class="py-4">Tu código fue utilizado y no puede volver a ser utilizado...</p>
              <div class="modal-action">
                <form method="dialog">
                  <button class="btn" (click)="closeModal('modal_update_admin_code')">Close</button>
                </form>
              </div>
            </div>
          </dialog>
          <!-- MODALES PARA INGRESAR DATOS -->
          <dialog id="modal_input_motive_code" class="modal" hidden>
            <div class="modal-box">
              <h3 class="font-bold text-lg">Código Administrador</h3>
              <p class="py-4">Ingrese el motivo del código generado: </p>
              <input type="text" [(ngModel)]="temp_motivo_codigo" placeholder="Cancelación de Tickets..." class="input w-full mt-2">
              <div class="modal-action">
                <form method="dialog">
                  <button class="btn m-2" (click)="generateAdminCodeModal('modal_generate_admin_code', 'modal_input_error')">Continuar</button>
                  <button class="btn m-2" (click)="closeModal('modal_input_id_ticket')">Close</button>
                </form>
              </div>
            </div>
          </dialog>
          <dialog id="modal_input_id_ticket" class="modal" hidden>
            <div class="modal-box">
              <h3 class="font-bold text-lg">Código Administrador</h3>
              <p class="py-4">Ingrese el id del Ticket: </p>
              <input type="text" [(ngModel)]="temp_id_ticket" placeholder="Id Ticket..." class="input w-full mt-2">
              <div class="modal-action">
                <form method="dialog">
                  <button class="btn m-2" (click)="updateAdminCodeModal('modal_update_admin_code', 'modal_input_error')">Continuar</button>
                  <button class="btn m-2" (click)="closeModal('modal_input_id_ticket')">Close</button>
                </form>
              </div>
            </div>
          </dialog>
          <dialog id="modal_input_error" class="modal" hidden>
            <div class="modal-box">
              <h3 class="font-bold text-lg">Código Administrador</h3>
              <p class="py-4">El entrada no es correcta...</p>
              <div class="modal-action">
                <form method="dialog">
                  <button class="btn" (click)="closeModal('modal_input_error')">Close</button>
                </form>
              </div>
            </div>
          </dialog>
        </div>
    </div>
</app-drawer>