<app-drawer>
    <div class="card flex-shrink-0 bg-base-100 w-11/12 md:w-11/12 m-auto mt-2 md:mt-4 py-9 px-9 h-fit rounded-3xl shadow-2xl" nuevoCatalogo>
        <h1 class="font-medium text-2xl text-primary dark:text-white">Nueva categoría</h1>
        <div class="card-body">
            <form [formGroup]="nuevaCategoriaForm" (ngSubmit)="registrarCategoria()">
                <div class="form-control">
                  <label class="label">
                    <span class="label-text">Nombre</span>
                  </label>
                  <input type="text" placeholder="Nombre de la nueva categoría" class="input input-bordered" formControlName="nombre"/>
                </div>
                <div class="form-control mt-6">
                  <button type="submit" class="btn btn-success" [disabled]="!nuevaCategoriaForm.valid">Registrar categoría</button>
                </div>
            </form>
        </div>
    </div>
</app-drawer>