<button class="z-20 fixed right-6 bottom-6 ml-6 btn btn-warning btn-circle btn-lg p-3 tooltip" data-tip="comentarios" (click)="openCommentsDialog()">
  <svg aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" stroke-linecap="round" stroke-linejoin="round"></path>
  </svg>
</button>
<div class="fixed z-50 top-0 left-0 w-screen h-screen bg-base-100 flex flex-col items-center justify-center" *ngIf="isLoading">
  <span class="loading loading-ring loading-lg"></span>
  <h1 class="font-bold text-3xl">Cargando detalles del ticket...</h1>
</div>
<app-drawer>
  <!-- Datos del ticket y del cliente -->
  <div class="w-full my-3 mx-auto" *ngIf="ticket">
    <div class="card w-11/12 bg-base-100 shadow-sm p-0 my-4 mx-auto">
      <div class="card-body">
        <!-- TODO: Agregar botón para re-imprimir el ticket -->
        <div class="grid grid-cols-3 gap-2 content-between">
          <div class="col-span-2">
            <p class="font-medium text-xl text-secondary">Cliente: {{ticket.cliente.nombre}}</p>
            <p class="font-thin text-xs">Ticket creado: {{ticket.created_at}}</p>
            <p class="font-thin text-xs">No. Ticket: {{ticket.id}}</p>
          </div>
          <button class="btn btn-outline btn-secondary" (click)="openReimprimirModal()">
            Ver servicios
          </button>
        </div>
        <!-- Anticipos y restantes --->
        <div class="w-full grid grid-cols-1 sm:grid-cols-3 gap-3 divide-y sm:divide-x sm:divide-y-0 items-center justify-center border-t sm:pt-3">
          <div class="flex flex-col items-center justify-center gap-2">
            <p class="font-medium text-xl text-success">Total</p>
            <p class="font-bold text-sm">$ {{ticket.total}}</p>
          </div>
          <div class="flex flex-col items-center justify-center gap-2">
            <p class="font-medium text-xl text-secondary">Anticipo</p>
            <p class="font-bold text-sm">$ {{ticket.anticipo}}</p>
          </div>
          <div class="flex flex-col items-center justify-center gap-2">
            <p class="font-medium text-xl text-error">Restante</p>
            <p class="font-bold text-sm">$ {{ticket.restante}}</p>
            <button class="btn btn-neutral btn-xs" *ngIf="ticket.restante != 0" (click)="renderPagosModal()">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              Registrar pago
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Procesos -->
  <div class="w-full grid grid-cols-1 gap-6 m-auto md:mt-3">
    <div class="w-full" *ngIf="stepCursor != 4">
      <!-- Stepper -->
      <ul class="w-full steps">
        <li
          data-content="✓"
          class="step text-xs md:text-md"
          [ngClass]="{ 'step-primary': stepCursor >= 0 }"
        >
          Conteo
        </li>
        <li
          data-content="🧼"
          class="step text-xs md:text-md"
          [ngClass]="{ 'step-primary': stepCursor >= 1 }"
        >Lavado</li>
        <li
          data-content="💨"
          class="step text-xs md:text-md"
          [ngClass]="{ 'step-primary': stepCursor >= 2 }"
        >Secado</li>
        <li
          data-content="🔄"
          class="step text-xs md:text-md"
          [ngClass]="{ 'step-primary': stepCursor >= 3 }"
        >Doblado / Reconteo</li>
        <li
          data-content="🚛"
          class="step text-xs md:text-md"
          [ngClass]="{ 'step-primary': stepCursor >= 4 }"
        >Entrega</li>
      </ul>
    </div>

    <!-- Conteo inicial -->
    <div
      class="p-4 w-11/12 bg-base-100 rounded-lg border shadow-md sm:p-8 m-auto"
      *ngIf="stepCursor == 0"
    >
      <h3 class="font-bold text-3xl ml-2 pt-6">Conteo inicial</h3>
      <p class="font-thin text-md ml-2 pb-6" *ngIf="conteo > 0">{{conteo}} Pieza(s)</p>

      <div class="overflow-x-auto">
        <table class="table table-zebra">
          <thead>
            <tr>
              <th>#</th>
              <th>Prenda</th>
              <th>Piezas</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <p *ngIf="prendasTicket.length == 0" class="text-center w-full">Sin prendas agregadas</p>
          <tbody *ngIf="prendasTicket.length > 0">
            <tr *ngFor="let pt of prendasTicket; let i = index">
              <th>{{ (i+1) }}</th>
              <td>{{ pt.nombre }}</td>
              <td>{{ pt.total_inicial }}</td>
              <td>
                <button class="btn btn-error btn-square p-3 text-white" (click)="deletePrendaFormTicket(pt.id)">
                  <svg
                    aria-hidden="true"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="my-4 divider">Agrega prendas</div>

        <form [formGroup]="prendasForm" (submit)="addPrendaToTable()" class="grid grid-cols-2 gap-4">
          <div class="form-control w-full pb-3">
            <label class="label">
              <span class="label-text">Selecciona una prenda</span>
            </label>
            <select class="select select-bordered" formControlName="prenda">
              <option *ngFor="let prenda of prendas" [value]="prenda.id">{{prenda.nombre}}</option>
            </select>
          </div>
          <div class="form-control w-full">
            <label class="label">
              <span class="label-text">Indica las piezas contadas</span>
            </label>
            <div class="join w-full">
              <input class="input input-bordered join-item" placeholder="1" (input)="swtichPiezasText()" formControlName="piezas"/>
              <button class="btn join-item" disabled>{{piezasText}}</button>
            </div>
          </div>
          <div class="w-full col-span-2">
            <button class="w-full btn btn-primary" [disabled]="!prendasForm.valid">Agregar prenda</button>
          </div>
        </form>
      </div>
    </div>
    <div class="w-full items-center p-4 bg-base-100 text-neutral-content" *ngIf="stepCursor == 0">
      <div class="flex justify-end">
        <button [disabled]="conteo == 0" class="btn btn-outline btn-primary shadow-md md:mr-8" (click)="nextStep()">
          Proceder al desmanchado
          <svg
            aria-hidden="true"
            fill="none"
            width="20"
            height="20"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </button>
      </div>
    </div>

    <!-- Lavado -->
    <div
      class="p-4 w-11/12 bg-base-100 rounded-lg border shadow-md sm:p-8 m-auto"
      *ngIf="stepCursor == 1"
    >
      <h3 class="font-bold text-3xl ml-2 pt-6">Selecciona una lavadora</h3>
      <div class="alert alert-warning mt-3" *ngIf="!idLavadora">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
        <span>Tip: Seleccione una lavadora una vez <b>que la ropa se encuentre cargada en ella</b>, <i>Si no la encuentra contacte al administrador del negocio</i></span>
      </div>
      <div class="grid grid-cols-1 gap-4 mt-4">
        <div class="form-control w-full pb-3">
          <select class="select select-bordered" [(ngModel)]="idLavadora" (change)="setLavadoraSeleccionada()">
            <option *ngFor="let lavadora of lavadoras" [value]="lavadora.id" [disabled]="lavadora.id === idLavadoraExtra">{{lavadora.nombre}}</option>
          </select>
        </div>
      </div>

      <!-- Lavadoras extra que excluye la seleccionada en la primera lista -->
      <h3 class="font-bold text-3xl ml-2 pt-6">Selecciona una lavadora extra</h3>
      <div>
        <br><p>* Seleccionar una lavadora extra en caso de que el servicio ocupe más de una</p><br>
      </div>
      <div class="grid grid-cols-1 gap-4 mt-4">
        <div class="form-control w-full pb-3">
          <select class="select select-bordered" [(ngModel)]="idLavadoraExtra" (change)="setLavadoraExtraSeleccionada()">
            <option *ngFor="let lavadoraExtra of lavadoras" [value]="lavadoraExtra.id" [disabled]="lavadoraExtra.id === idLavadora">{{lavadoraExtra.nombre}}</option>
          </select>
        </div>
      </div>
    
      <div class="alert alert-warning" *ngIf="idLavadora">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
        <span>Alerta: No de clic en <b>"Terminar lavado"</b> hasta asegurarse de que el ciclo de lavado haya concluido</span>
      </div>
    </div>
    <div class="w-full items-center p-4 bg-base-100 text-neutral-content" *ngIf="stepCursor == 1">
      <div class="flex justify-end">
        <button [disabled]="!idLavadora" class="btn btn-outline btn-primary shadow-md md:mr-8" (click)="nextStep()">
          Terminar lavado
          <svg
            aria-hidden="true"
            fill="none"
            width="20"
            height="20"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </button>
      </div>
    </div>

    <!-- Secado -->
    <div
      class="p-4 w-11/12 bg-base-100 rounded-lg border shadow-md sm:p-8 m-auto"
      *ngIf="stepCursor == 2"
    >
      <h3 class="font-bold text-3xl ml-2 pt-6">Selecciona una secadora</h3>
      <div class="alert alert-warning mt-3" *ngIf="!idSecadora">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
        <span>Tip: Seleccione una secadora una vez <b>que la ropa se encuentre cargada en ella</b>, <i>Si no la encuentra contacte al administrador del negocio</i></span>
      </div>
      <div class="grid grid-cols-1 gap-4 mt-4">
        <div class="form-control w-full pb-3">
          <select class="select select-bordered" [(ngModel)]="idSecadora" (change)="setSecadoraSeleccionada()">
            <option *ngFor="let secadora of secadoras" [value]="secadora.id" [disabled]="secadora.id === idSecadoraExtra">{{secadora.nombre}}</option>
          </select>
        </div>
      </div>

      <h3 class="font-bold text-3xl ml-2 pt-6">Selecciona una secadora extra</h3>
      <div>
        <br><p>* Seleccionar una secadora extra en caso de que el servicio ocupe más de una</p><br>
      </div>
      <div class="grid grid-cols-1 gap-4 mt-4">
        <div class="form-control w-full pb-3">
          <select class="select select-bordered" [(ngModel)]="idSecadoraExtra" (change)="setSecadoraExtraSeleccionada()">
            <option *ngFor="let secadoraExtra of secadoras" [value]="secadoraExtra.id" [disabled]="secadoraExtra.id === idSecadora">{{secadoraExtra.nombre}}</option>
          </select>
        </div>
      </div>


      <div class="alert alert-warning" *ngIf="idSecadora">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
        <span>Alerta: No de clic en <b>"Terminar secado"</b> hasta asegurarse de que el ciclo de secado haya concluido</span>
      </div>
    </div>
    <div class="w-full items-center p-4 bg-base-100 text-neutral-content" *ngIf="stepCursor == 2">
      <div class="flex justify-end">
        <button [disabled]="!idSecadora" class="btn btn-outline btn-primary shadow-md md:mr-8" (click)="nextStep()">
          Terminar secado
          <svg
            aria-hidden="true"
            fill="none"
            width="20"
            height="20"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </button>
      </div>
    </div>

    <!-- Reconteo -->
    <div
      class="p-4 w-11/12 bg-base-100 rounded-lg border shadow-md sm:p-8 m-auto"
      *ngIf="stepCursor == 3"
    >
      <h3 class="font-bold text-3xl ml-2 pt-6">Doblado y reconteo</h3>
      <p class="font-thin text-md ml-2 pb-6">{{conteo}} Pieza(s)</p>

      <div class="overflow-x-auto">
        <table class="table table-zebra">
          <thead>
            <tr>
              <th>#</th>
              <th>Prenda</th>
              <th>Conteo inicial</th>
              <th>Conteo Final</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pt of prendasTicket; let i = index">
              <th>{{ (i+1) }}</th>
              <td>{{ pt.nombre }}</td>
              <td>{{ pt.total_inicial }}</td>
              <td>
                <div class="form-control">
                  <input type="tel" placeholder="1" min="1" class="input input-bordered w-full" [(ngModel)]="pt.total_final" (change)="handleConteoFinal(pt)"/>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="w-full items-center p-4 bg-base-100 text-neutral-content" *ngIf="stepCursor == 3">
      <div class="flex justify-end">
        <button [disabled]="!reconteoOk" class="btn btn-outline btn-primary shadow-md md:mr-8" (click)="nextStep()">
          Proceder a la entrega
          <svg
            aria-hidden="true"
            fill="none"
            width="20"
            height="20"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </button>
      </div>
    </div>

    <!-- Entrega -->
    <div
      class="p-4 w-11/12 bg-base-100 rounded-lg border shadow-md sm:p-8 m-auto"
      *ngIf="stepCursor == 4"
    >
      <h3 class="font-bold text-3xl ml-2 pt-6">Entrega / Recolección</h3>
      <div class="w-fit m-auto tabs tabs-boxed mt-3">
        <a
          class="tab text-primary text-center"
          [ngClass]="{
            'bg-white': cursorEntrega == 0,
          }"
          (click)="switchMetodoEntrega(0)"
        >
          En centro de recolección
        </a> 
        <a
          class="tab text-center text-primary"
          [ngClass]="{
            'bg-white': cursorEntrega == 1,
          }"
          (click)="switchMetodoEntrega(1)"
          *ngIf="ticket.cliente.direccion?.length != 0"
        >
          A domicilio
        </a>
        <a
          class="tab text-center text-primary"
          [ngClass]="{
            'bg-white': cursorEntrega == 1,
          }"
          [routerLink]="['/editar-cliente', ticket.id_cliente]"
          *ngIf="ticket.cliente.direccion?.length == 0"
        >
          A domicilio
        </a> 
      </div>

      <div class="w-full mt-3 pb-12" *ngIf="cursorEntrega == 0">
        <div class="form-control w-6/12">
          <label class="label">
            <span class="label-text">Selecciona un centro de recolección</span>
          </label>
          <select class="select select-bordered" [(ngModel)]="idSucursalRecoleccion" (change)="changeIdSucursal(idSucursalRecoleccion)">
            <option *ngFor="let sucursal of sucursales" [value]="sucursal.id">{{sucursal.nombre}}</option>
          </select>
        </div>
      </div>

      <div class="w-full mt-3 pb-12" *ngIf="cursorEntrega == 1">
        <div class="form-control w-6/12" *ngIf="ticket.cliente.direccion">
          <label class="label">
            <span class="label-text">Selecciona una ubicación del cliente</span>
          </label>
          <select class="select select-bordered" [(ngModel)]="idUbicacionEnvio" (change)="changeIdUbicacion(idUbicacionEnvio)">
            <option *ngFor="let ubicacion of ticket.cliente.direccion" [value]="ubicacion.id">{{ubicacion.nombre_ubicacion}} - {{ubicacion.calle}}, {{ubicacion.colonia}}; {{ubicacion.ciudad}}, {{ubicacion.codigo_postal}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="w-full items-center p-4 bg-base-100 text-neutral-content" *ngIf="stepCursor == 4">
      <div class="flex justify-end">
        <button [disabled]="shouldDisableFinalizarEntregaButton()" class="btn btn-outline btn-primary shadow-md md:mr-8" (click)="nextStep()">
          Servicio entregado
          <svg
            aria-hidden="true"
            fill="none"
            width="20"
            height="20"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </button>
      </div>
    </div>

    <!-- Finalizado -->
    <div
      class="p-4 w-11/12 bg-base-100 rounded-lg border shadow-md sm:p-8 m-auto"
      *ngIf="stepCursor == 5"
    >
      <div class="alert alert-success">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        <span>El ticket se ha finalizado correctamente, ¡Excelente trabajo!</span>
      </div>

      <div class="w-full px-4 py-4 flex flex-col items-center justify-center gap-4" *ngIf="isLoadingStats">
        <span class="loading loading-ring loading-lg"></span>
        <h1 class="font-bold text-2xl">Cargando estadísticas</h1>
      </div>

      <div class="collapse collapse-arrow bg-gray-50 mt-3" *ngIf="isAdmin && !isLoadingStats">
        <input type="radio" name="my-accordion-2" checked="checked" /> 
        <div class="collapse-title text-xl font-medium">
          Conteo - Click para ver más detalles
        </div>
        <div class="collapse-content" *ngIf="ticketStats.Conteo"> 
          <div class="w-full stats stats-vertical sm:stats-horizontal shadow">
  
            <div class="stat">
              <div class="stat-title">Días</div>
              <div class="stat-value">{{ticketStats.Conteo.diferencia_en_dias}}</div>
            </div>
            
            <div class="stat">
              <div class="stat-title">Horas</div>
              <div class="stat-value">{{ticketStats.Conteo.diferencia_en_horas}}</div>
            </div>
            
            <div class="stat">
              <div class="stat-title">Minutos</div>
              <div class="stat-value">{{ticketStats.Conteo.diferencia_en_minutos}}</div>
            </div>

            <div class="stat">
              <div class="stat-title">Segundos</div>
              <div class="stat-value">{{ticketStats.Conteo.diferencia_en_segundos}}</div>
            </div>
            
          </div>

          <div class="w-full bg-base-300 stats shadow my-3">
  
            <div class="stat">
              <div class="stat-title">Atendido por</div>
              <div class="stat-value truncate">{{ticketStats.Conteo.nombre}}</div>
            </div>

            <div class="stat">
              <div class="stat-title">Time Track: </div>
              <div class="stat-value truncate">{{parseTimeTrackerToTimer(ticketStats.Conteo.timestamp_start.toLocaleString('es-MX'))}} - {{parseTimeTrackerToTimer(ticketStats.Conteo.timestamp_end.toLocaleString('es-MX'))}}</div>
            </div>
            
          </div>
        </div>
        <div class="collapse-content" *ngIf="!ticketStats.Conteo"> 
          <p>Sin datos</p>
        </div>
      </div>

      <ng-container *ngIf="ticketStats.Lavado">
        <ng-container *ngFor="let lavado of ticketStats.Lavado; let i=index">
          <div class="collapse collapse-arrow bg-teal-50 mt-3"  *ngIf="isAdmin && !isLoadingStats">
            <input type="radio" name="my-accordion-2" />
            <div class="collapse-title text-xl font-medium">
              Lavado {{i+1}} - Click para ver más detalles
            </div>
            <div class="collapse-content">
              <div class="w-full stats stats-vertical sm:stats-horizontal shadow">

                <div class="stat">
                  <div class="stat-title">Días</div>
                  <div class="stat-value">{{lavado.diferencia_en_dias}}</div>
                </div>

                <div class="stat">
                  <div class="stat-title">Horas</div>
                  <div class="stat-value">{{lavado.diferencia_en_horas}}</div>
                </div>

                <div class="stat">
                  <div class="stat-title">Minutos</div>
                  <div class="stat-value">{{lavado.diferencia_en_minutos}}</div>
                </div>

                <div class="stat">
                  <div class="stat-title">Segundos</div>
                  <div class="stat-value">{{lavado.diferencia_en_segundos}}</div>
                </div>

              </div>

              <div class="w-full bg-base-300 stats shadow my-3">

                <div class="stat">
                  <div class="stat-title">Atendido por</div>
                  <div class="stat-value truncate">{{lavado.nombre}}</div>
                </div>

                <div class="stat">
                  <div class="stat-title">Time Track: </div>
                  <div class="stat-value truncate">{{parseTimeTrackerToTimer(lavado.timestamp_start.toLocaleString('es-MX'))}} - {{parseTimeTrackerToTimer(lavado.timestamp_end.toLocaleString('es-MX'))}}</div>
                </div>

              </div>
            </div>
            <div class="collapse-content" *ngIf="!lavado">
              <p>Sin datos</p>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="ticketStats.Secado">
        <ng-container *ngFor="let secado of ticketStats.Secado; let i=index">

          <div class="collapse collapse-arrow bg-amber-50 mt-3"  *ngIf="isAdmin && !isLoadingStats">
            <input type="radio" name="my-accordion-2" />
            <div class="collapse-title text-xl font-medium">
              Secado {{i+1}} - Click para ver más detalles
            </div>
            <div class="collapse-content">
              <div class="w-full stats stats-vertical sm:stats-horizontal shadow">

                <div class="stat">
                  <div class="stat-title">Días</div>
                  <div class="stat-value">{{secado.diferencia_en_dias}}</div>
                </div>

                <div class="stat">
                  <div class="stat-title">Horas</div>
                  <div class="stat-value">{{secado.diferencia_en_horas}}</div>
                </div>

                <div class="stat">
                  <div class="stat-title">Minutos</div>
                  <div class="stat-value">{{secado.diferencia_en_minutos}}</div>
                </div>

                <div class="stat">
                  <div class="stat-title">Segundos</div>
                  <div class="stat-value">{{secado.diferencia_en_segundos}}</div>
                </div>

              </div>

              <div class="w-full bg-base-300 stats shadow my-3">

                <div class="stat">
                  <div class="stat-title">Atendido por</div>
                  <div class="stat-value truncate">{{secado.nombre}}</div>
                </div>

                <div class="stat">
                  <div class="stat-title">Time Track: </div>
                  <div class="stat-value truncate">{{parseTimeTrackerToTimer(secado.timestamp_start.toLocaleString('es-MX'))}} - {{parseTimeTrackerToTimer(secado.timestamp_end.toLocaleString('es-MX'))}}</div>
                </div>

              </div>
            </div>
            <div class="collapse-content" *ngIf="!secado">
              <p>Sin datos</p>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <div class="collapse collapse-arrow bg-stone-200 mt-3"  *ngIf="isAdmin && !isLoadingStats">
        <input type="radio" name="my-accordion-2" /> 
        <div class="collapse-title text-xl font-medium">
          Reconteo - Click para ver más detalles
        </div>
        <div class="collapse-content" *ngIf="ticketStats.Reconteo"> 
          <div class="w-full stats stats-vertical sm:stats-horizontal shadow">
  
            <div class="stat">
              <div class="stat-title">Días</div>
              <div class="stat-value">{{ticketStats.Reconteo.diferencia_en_dias}}</div>
            </div>
            
            <div class="stat">
              <div class="stat-title">Horas</div>
              <div class="stat-value">{{ticketStats.Reconteo.diferencia_en_horas}}</div>
            </div>
            
            <div class="stat">
              <div class="stat-title">Minutos</div>
              <div class="stat-value">{{ticketStats.Reconteo.diferencia_en_minutos}}</div>
            </div>

            <div class="stat">
              <div class="stat-title">Segundos</div>
              <div class="stat-value">{{ticketStats.Reconteo.diferencia_en_segundos}}</div>
            </div>
            
          </div>

          <div class="w-full bg-base-300 stats shadow my-3">
  
            <div class="stat">
              <div class="stat-title">Atendido por</div>
              <div class="stat-value truncate">{{ticketStats.Reconteo.nombre}}</div>
            </div>

            <div class="stat">
              <div class="stat-title">Time Track: </div>
              <div class="stat-value truncate">{{parseTimeTrackerToTimer(ticketStats.Reconteo.timestamp_start.toLocaleString('es-MX'))}} - {{parseTimeTrackerToTimer(ticketStats.Reconteo.timestamp_end.toLocaleString('es-MX'))}}</div>
            </div>
            
          </div>
        </div>
        <div class="collapse-content" *ngIf="!ticketStats.Reconteo"> 
          <p>Sin datos</p>
        </div>
      </div>
      <div class="collapse collapse-arrow bg-lime-50 mt-3"  *ngIf="isAdmin && !isLoadingStats">
        <input type="radio" name="my-accordion-2" /> 
        <div class="collapse-title text-xl font-medium">
          Entrega - Click para ver más detalles
        </div>
        <div class="collapse-content" *ngIf="ticketStats.Entrega"> 
          <div class="w-full stats stats-vertical sm:stats-horizontal shadow">
  
            <div class="stat">
              <div class="stat-title">Días</div>
              <div class="stat-value">{{ticketStats.Entrega.diferencia_en_dias}}</div>
            </div>
            
            <div class="stat">
              <div class="stat-title">Horas</div>
              <div class="stat-value">{{ticketStats.Entrega.diferencia_en_horas}}</div>
            </div>
            
            <div class="stat">
              <div class="stat-title">Minutos</div>
              <div class="stat-value">{{ticketStats.Entrega.diferencia_en_minutos}}</div>
            </div>

            <div class="stat">
              <div class="stat-title">Segundos</div>
              <div class="stat-value">{{ticketStats.Entrega.diferencia_en_segundos}}</div>
            </div>
            
          </div>

          <div class="w-full bg-base-300 stats shadow my-3">
  
            <div class="stat">
              <div class="stat-title">Atendido por</div>
              <div class="stat-value truncate">{{ticketStats.Entrega.nombre}}</div>
            </div>

            <div class="stat">
              <div class="stat-title">Time Track: </div>
              <div class="stat-value truncate">{{parseTimeTrackerToTimer(ticketStats.Entrega.timestamp_start.toLocaleString('es-MX'))}} - {{parseTimeTrackerToTimer(ticketStats.Entrega.timestamp_end.toLocaleString('es-MX'))}}</div>
            </div>
            
          </div>
        </div>
        <div class="collapse-content" *ngIf="!ticketStats.Entrega"> 
          <p>Sin datos</p>
        </div>
      </div>
    </div>
  </div>

</app-drawer>
<dialog class="modal modal-bottom" #comentariosModal>
  <form method="dialog" class="modal-box h-4/6" (submit)="replaceFormsubmit($event)" [formGroup]="chatForm">
    <button type="button" (click)="closeCommentsDialog()" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    <h3 class="font-bold text-3xl">Comentarios</h3>
    <div class="divider"></div>
    <div class="scroll-smooth m-auto flow-root w-full md:w-7/12 py-6 px-3 my-3 rounded-2xl shadow-md bg-base-200 max-h-96 overflow-y-scroll" #chatContainer>
      <p class="text-sm text-center" *ngIf="chatHistory.length == 0">Sin comentarios</p>
      <div class="chat chat-end" *ngFor="let comentario of chatHistory">
        <div class="chat-header opacity-50">{{comentario.sender}}</div>
        <div class="chat-bubble">{{comentario.texto}}</div>
        <div class="chat-footer">
          {{comentario.date}}
        </div>
      </div>
    </div>
    <div class="modal-action align-bottom" *ngIf="stepCursor != 4">
      <div class="m-auto w-full md:w-7/12 grid grid-cols-3 gap-0">
        <input type="text" placeholder="Agrega un comentario" class="input input-bordered rounded-r-none col-span-2 focus:outline-none" formControlName="message"/>
        <button [disabled]="!chatForm.valid" class="rounded-l-none btn btn-primary text-white" (click)="sendComentario()">
          <svg width="25" height="25" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </button>
      </div>
    </div>
  </form>
</dialog>
<dialog class="modal modal-bottom" #pagosModal>
  <form method="dialog" class="modal-box h-4/6" (submit)="replaceFormsubmit($event)" [formGroup]="chatForm">
    <button type="button" (click)="closePagosModal()" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    <h3 class="font-bold text-3xl">Registrar pago</h3>
    <div class="divider"></div>
    <div class="scroll-smooth m-auto flow-root w-full md:w-7/12 py-6 px-3 my-3 rounded-2xl shadow-md bg-base-100 max-h-96 overflow-y-scroll">
      <div class="w-full" #pagosContainer></div>
    </div>
  </form>
</dialog>
<dialog class="modal" #reimprimirModal>
  <div class="modal-box h-fit w-fit">
    <!-- Tabla con los servicios y los kilos -->
    <div class="overflow-x-auto" *ngIf="serviciosTicket">
      <table class="table table-zebra">
        <thead>
          <tr>
            <th>Servicio</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let st of serviciosTicket">
            <td>{{st.nombre_servicio}}</td>
            <td>{{st.cantidad}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">Cerrar</button>
      </form>
    </div>
  </div>
</dialog>