<div class="drawer lg:drawer-open">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex-col justify-center">
    <div
      class="navbar w-11/12 md:w-11/12 bg-base-100 shadow-2xl rounded-lg m-auto mt-2 md:mt-4 p-1 print:hidden"
    >
      <div class="flex-none lg:hidden">
        <button class="btn btn-ghost btn-square bg-base-100">
          <label
            for="my-drawer-3"
            class="btn btn-square btn-ghost lg:hidden text-primary dark:text-white"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="35"
              heigth="35"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block w-6 h-6 stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              ></path>
            </svg>
          </label>
        </button>
      </div>

      <div class="flex-none mr-5 p-3">
        <div class="w-5/12 md:w-8/12" *ngIf="shouldEnableBackButton()">
          <button class="btn btn-ghost" (click)="navigateBack()">
            <svg class="h-4 w-4 text-primary" fill="none" stroke="currentColor" viewBox="0 0 24 24" stroke="currentColor" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" d="M20 .755l-14.374 11.245 14.374 11.219-.619.781-15.381-12 15.391-12 .609.755z"/></svg>
            Volver
          </button>
        </div>
        <img
          draggable="false"
          src="../../../assets/app-logo.png"
          alt="Acqua Lavandería"
          class="w-28 h-auto p-0 dark:invert"
          routerLink="/dashboard"
        />
      </div>
      <div class="flex-none md:w-6/12 justify-end pr-2">
        <input
          type="text"
          placeholder="Busca a un cliente"
          class="input input-bordered w-full"
          readonly
          (click)="openClientesModal()"
        />
      </div>
    </div>

    <ng-content></ng-content>
  </div>
  <div class="drawer-side z-50 print:hidden">
    <label for="my-drawer-3" class="drawer-overlay"></label>
    <ul
      class="menu p-4 w-40 space-y-5 h-full bg-base-100 text-base-content lg:pt-20"
    >
      <li *ngIf="userRole === Role.Administrador || userRole === Role.Encargado || userRole === Role.Cajero">
        <a routerLink="/dashboard" class="text-primary dark:text-white">
          <svg
            width="35"
            heigth="35"
            aria-hidden="true"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          Inicio
        </a>
      </li>
      <li *ngIf="userRole === Role.Administrador || userRole === Role.Operativo || userRole === Role.Cajero || userRole === Role.Encargado">
        <a routerLink="/tickets" class="text-primary dark:text-white">
          <svg
            width="35"
            heigth="35"
            aria-hidden="true"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          Tickets
        </a>
      </li>
      <li *ngIf="userRole === Role.Administrador || userRole === Role.Cajero">
        <a routerLink="/clientes" class="text-primary dark:text-white">
          <svg
            width="35"
            heigth="35"
            aria-hidden="true"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          Clientes
        </a>
      </li>
      <li *ngIf="userRole === Role.Administrador || userRole === Role.Encargado || userRole === Role.Cajero">
        <a routerLink="/categorias" class="text-primary dark:text-white">
          <svg
            width="35"
            heigth="35"
            aria-hidden="true"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4.098 19.902a3.75 3.75 0 005.304 0l6.401-6.402M6.75 21A3.75 3.75 0 013 17.25V4.125C3 3.504 3.504 3 4.125 3h5.25c.621 0 1.125.504 1.125 1.125v4.072M6.75 21a3.75 3.75 0 003.75-3.75V8.197M6.75 21h13.125c.621 0 1.125-.504 1.125-1.125v-5.25c0-.621-.504-1.125-1.125-1.125h-4.072M10.5 8.197l2.88-2.88c.438-.439 1.15-.439 1.59 0l3.712 3.713c.44.44.44 1.152 0 1.59l-2.879 2.88M6.75 17.25h.008v.008H6.75v-.008z"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          Categorías
        </a>
      </li>
      <li *ngIf="userRole === Role.Administrador || userRole === Role.Encargado">
        <a routerLink="/reportes" class="text-primary dark:text-white">
          <svg
            width="35"
            heigth="35"
            aria-hidden="true"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3.75 3v11.25A2.25 2.25 0 006 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0118 16.5h-2.25m-7.5 0h7.5m-7.5 0l-1 3m8.5-3l1 3m0 0l.5 1.5m-.5-1.5h-9.5m0 0l-.5 1.5M9 11.25v1.5M12 9v3.75m3-6v6"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          Reportes
        </a>
      </li>
      <li *ngIf="userRole === Role.Administrador">
        <a routerLink="/personal" class="text-primary dark:text-white">
          <svg
            width="35"
            heigth="35"
            aria-hidden="true"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          Personal
        </a>
      </li>
      <li>
        <a href="#" (click)="logout($event)" class="text-primary dark:text-white">
          <svg
            width="35"
            heigth="35"
            aria-hidden="true"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16 12.771h-3.091c-.542 0-.82-.188-1.055-.513l-1.244-1.674-2.029 2.199 1.008 1.562c.347.548.373.922.373 1.42v4.235h-1.962v-3.981c-.016-1.1-1.695-2.143-2.313-1.253l-1.176 1.659c-.261.372-.706.498-1.139.498h-3.372v-1.906l2.532-.001c.397 0 .741-.14.928-.586l1.126-2.75c.196-.41.46-.782.782-1.102l2.625-2.6-.741-.647c-.223-.195-.521-.277-.812-.227l-2.181.381-.342-1.599 2.992-.571c.561-.107 1.042.075 1.461.462l2.882 2.66c.456.414.924 1.136 1.654 2.215.135.199.323.477.766.477h2.328v1.642zm-2.982-5.042c1.02-.195 1.688-1.182 1.493-2.201-.172-.901-.96-1.528-1.845-1.528-1.186 0-2.07 1.078-1.85 2.234.196 1.021 1.181 1.69 2.202 1.495zm4.982-5.729v15l6 5v-20h-6z"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          Cerrar sesión
        </a>
      </li>
    </ul>
  </div>
</div>
<dialog id="modal_cliente_navbar" class="modal" #modalClientesNavbar>
  <div class="modal-box flex flex-col gap-3 h-4/6 overflow-y-scroll">
    <button
        class="z-50 btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
        (click)="dismissModal()"
    >
      ✕
    </button>
    <div class="sticky top-0 left-0 z-20 w-full text-left bg-white/90 backdrop-blur-3xl">
      <h3 class="font-bold text-3xl ml-2 py-6">Clientes</h3>
    </div>
    <div class="form-control w-full z-0">
      <input
        type="text"
        placeholder="Busca a un cliente por nombre o por número"
        class="input input-bordered w-full focus:outline-none"
        [(ngModel)]="busquedaCliente"
        (input)="buscarCliente()"
      />

      <div class="divider"></div>
      <div class="w-ful m-auto" *ngIf="isLoadingClientes">
        <span class="loading loading-spinner loading-lg text-secondary"></span>
      </div>
      <div
        class="p-4 max-w-md bg-base-100 rounded-lg border shadow-md sm:p-8"
        *ngIf="coincidenciasClientes.length > 0"
      >
        <div class="flow-root">
          <ul role="list" class="divide-y divide-gray-200">
            <li class="py-3 sm:py-4" *ngFor="let c of coincidenciasClientes">
              <div class="flex items-center space-x-4">
                <div class="flex-shrink-0"></div>
                <div class="flex-1 min-w-0">
                  <p class="text-sm font-medium text-gray-900 truncate">
                    {{c.nombre}}
                  </p>
                  <p class="text-sm text-gray-500 truncate">{{c.telefono}}</p>
                </div>
                <div class="inline-flex items-center">
                  <div class="join">
                    <button
                      class="btn btn-circle btn-sm join-item p-1 lg:tooltip"
                      data-tip="Detalles"
                      [routerLink]="['/editar-cliente', c.id]"
                    >
                      <svg
                        aria-hidden="true"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="1.5"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                        <path
                          d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </button>
                    <button
                      class="btn btn-circle btn-sm join-item p-1 lg:tooltip"
                      data-tip="Tickets"
                      [routerLink]="['/tickets']"
                      [queryParams]="{ cliente: btoa(c)}"
                    >
                      <svg
                        aria-hidden="true"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="1.5"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 01-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 011.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 00-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 01-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 00-3.375-3.375h-1.5a1.125 1.125 0 01-1.125-1.125v-1.5a3.375 3.375 0 00-3.375-3.375H9.75"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </button>
                    <button
                      class="btn btn-circle btn-sm join-item p-1 lg:tooltip"
                      data-tip="Agregar servicio"
                      [routerLink]="['/dashboard']"
                      [queryParams]="{ cliente: btoa(c)}"
                      (click)="dismissModal()"
                    >
                      <svg
                        aria-hidden="true"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="1.5"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 002.25-2.25V6a2.25 2.25 0 00-2.25-2.25H6A2.25 2.25 0 003.75 6v2.25A2.25 2.25 0 006 10.5zm0 9.75h2.25A2.25 2.25 0 0010.5 18v-2.25a2.25 2.25 0 00-2.25-2.25H6a2.25 2.25 0 00-2.25 2.25V18A2.25 2.25 0 006 20.25zm9.75-9.75H18a2.25 2.25 0 002.25-2.25V6A2.25 2.25 0 0018 3.75h-2.25A2.25 2.25 0 0013.5 6v2.25a2.25 2.25 0 002.25 2.25z"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</dialog>
