<div id="ticket-container" style="width: 80mm">
  <div class="qrcodeImage center" style="margin: 0 auto !important; text-align: center;">
    <img class="center" style="margin: 0 !important; width: 30mm !important; height: auto !important; text-align: center;" src="../../../../assets/print-app-logo.png" class="qrcodeImage center" alt="ACQUA logo" />
  </div>
  <p class="centered">ACQUA Lavanderías</p>
  <p class="centered">RFC: HEGM491024MC7</p>
  <p class="centered">Diagonal 9 Sur Pte 916 Barrio San Francisco, C.P 29066, Ciudad Tuxtla Gutiérrez, Chiapas Tel: 961-709-6199</p>

  <p class="centered">Ticket Nº. {{ticket.id}} &nbsp; FECHA: {{ticket.created_at}}</p>

  <div style="width: 100%; border-top: dotted 2px; padding-top: 4px; padding-bottom: 4px; text-align: center; font-weight: bold;">
    * * SERVICIOS * *
  </div>

  <table style="width: 100%; border-top: dotted 2px; border-bottom: dotted 2px;">
    <colgroup>
      <col width="40%" />
      <col width="20%" />
      <col width="20%" />
      <col width="20%" />
    </colgroup>
    <thead>
      <th>DESCRIPCION</th>
      <th>P. UNIT</th>
      <th>CANT</th>
      <th>IMPTE</th>
    </thead>
    <tbody>
      <tr *ngFor="let st of serviciosTicket">
        <td style="white-space: wrap; max-width:1px;">
          {{st.nombre_servicio}}
        </td>
        <td style="white-space: wrap; max-width:1px;">
          {{st.importe | currency: 'MXN':'symbol-narrow':'1.2-2'}}
        </td>
        <td style="white-space: wrap; max-width:1px;">
          {{st.cantidad}}
        </td>
        <td style="white-space: wrap; max-width:1px;">
          {{st.subtotal | currency: 'MXN':'symbol-narrow':'1.2-2'}}
        </td>
      </tr>
    </tbody>
    <tfoot style="border-top: dotted 2px;">
      <td>Servicios: {{serviciosTicket.length}}</td>
      <td></td>
      <td></td>
      <td></td>
    </tfoot>
  </table>

  <p style="text-align: right;" *ngIf="incluye_iva">Subtotal: $ {{subtotal}}</p>
  <p style="text-align: right;" *ngIf="incluye_iva">Impuestos: $ {{montoImpuestos}}</p>
  <p style="text-align: right;" *ngIf="total">Total: ${{total.toFixed(2)}}</p>
  <p style="text-align: right;" *ngIf="tipoCompra == 'CREDITO' && anticipo">Anticipo: ${{anticipo.toFixed(2)}}</p>
  <p style="text-align: right;" *ngIf="tipoCompra == 'CREDITO' && saldoPendiente">Saldo Pendiente: ${{saldoPendiente.toFixed(2)}}</p>

  <div style="width: 100%; border-top: dotted 2px; padding-top: 2px; padding-bottom: 2px; text-align: center;">
    <p style="font-weight: bold;">* * DATOS DEL CLIENTE * *</p>
    <p class="centered">Cliente: {{cliente.nombre.toUpperCase()}}</p>
    <p *ngIf="saldoPendiente == 0" class="font-bold centered">SERVICIO PAGADO</p>
    <p *ngIf="(saldoPendiente ?? 0) > 0" class="font-bold centered">SALDO PENDIENTE</p>

  </div>

  <div style="width: 100%; border-top: dotted 2px; padding-top: 2px; padding-bottom: 2px; text-align: center;" *ngIf="tipoEntrega == 'ENVIO' && ubicacionEnvio">
    <p style="font-weight: bold;">* * ENVÍO A DOMICILIO * *</p>
    <p>FECHA: {{ticket.fecha_entrega}}</p>
    <p class="centered">LUGAR: {{ubicacionEnvio.calle}}, no. {{ubicacionEnvio.numero}}, Col. {{ubicacionEnvio.colonia}}, C.P: {{ubicacionEnvio.codigo_postal}}</p>
  </div>

  <div style="width: 100%; border-top: dotted 2px; padding-top: 2px; padding-bottom: 2px; text-align: center;" *ngIf="tipoEntrega == 'SUCURSAL' && sucursal">
    <p style="font-weight: bold;">* * CENTRO DE RECOLECCIÓN * *</p>
    <p class="centered">ENTREGAR EN: {{sucursal.nombre}}</p>
  </div>

  <div style="width: 100%; border-top: dotted 2px; border-bottom: dotted 2px; padding-top: 2px; padding-bottom: 2px; text-align: center;">
    <p style="font-weight: bold;">¡GRACIAS POR SU PREFERENCIA!</p>
    <p class="centered">Le atendió: {{atendio}}</p>
  </div>

  <div style="width: 100%; border-bottom: dotted 2px; padding-top: 2px; padding-bottom: 2px; text-align: center;" *ngIf="!esTicketCliente">
    <p style="font-weight: bold;">* * COMENTARIOS * *</p>
    <p *ngIf="!ticket.comentarios">Sin comentarios</p>
    <p *ngFor="let comentario of ticket.comentarios">
      <b>{{comentario.sender}}</b>: "{{comentario.texto}}" - <i>{{comentario.date}}</i>
    </p>
  </div>
  
  <p class="centered">Contrato Aprobado y Registrado en Profeco, Número 199-221 de Fecha 15 de Enero 2021.</p>

  <div class="qrcodeImage center" *ngIf="esTicketCliente" style="margin: 0 auto!important; text-align: center;">
    <qrcode
        [qrdata]="ticketURLCliente"
        [allowEmptyString]="true"
        [elementType]="'url'"
        [cssClass]="'center'"
        [errorCorrectionLevel]="'M'"
        [scale]="1"
        [width]="150"
    ></qrcode>
  </div>

  <div class="qrcodeImage center" *ngIf="!esTicketCliente" style="margin: 0 auto !important; text-align: center;">
    <qrcode
        [qrdata]="ticketURL"
        [allowEmptyString]="true"
        [elementType]="'url'"
        [cssClass]="'center'"
        [errorCorrectionLevel]="'M'"
        [scale]="1"
        [width]="150"
    ></qrcode>
  </div>
  <p class="centered">ESTE TICKET NO ES UN COMPROBANTE FISCAL</p>
</div>