<div class="flex-grow-0 m-4 p-0 w-full whitespace-nowrap overflow-x-auto">
    <button
    [disabled]="caja_abierta"
    class="btn bg-teal-600 hover:bg-teal-500 text-white w-auto rounded mr-3"
    (click)="requestOpenCashierReconciliation('modal_monto', 'modal_codigo_admin', 'modal_continuar_operacion', 'modal_error')"
    >
    <svg
        width="24"
        height="24"
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path class="fill-current" d="M12 10v-4c0-3.313-2.687-6-6-6s-6 2.687-6 6v3h2v-3c0-2.206 1.794-4 4-4s4 1.794 4 4v4h-4v14h18v-14h-12zm10 12h-14v-10h14v10z"/>
    </svg>
    <span class="hidden sm:hidden md:hidden lg:hidden xl:block">Abrir corte de caja</span>
    <span class="hidden sm:hidden md:hidden lg:block xl:hidden">Abrir caja</span>
    <span class="hidden sm:block md:block lg:hidden xl:hidden">Abrir</span>
    </button>
    <button
    [disabled]="!caja_abierta"
    class="btn bg-teal-600 hover:bg-teal-500 text-white w-auto rounded ml-3"
    (click)="requestCloseCashierReconciliation('modal_monto', 'modal_codigo_admin', 'modal_continuar_operacion', 'modal_error')"
    >
    <svg
        width="24"
        height="24"
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path class="fill-current" d="M18 10v-4c0-3.313-2.687-6-6-6s-6 2.687-6 6v4h-3v14h18v-14h-3zm-10-4c0-2.206 1.795-4 4-4s4 1.794 4 4v4h-8v-4zm11 16h-14v-10h14v10zm-7.737-2l-2.843-2.756 1.173-1.173 1.67 1.583 3.563-3.654 1.174 1.173-4.737 4.827z"/>
    </svg>
    <span class="hidden sm:hidden md:hidden lg:hidden xl:block">Cerrar corte de caja</span>
    <span class="hidden sm:hidden md:hidden lg:block xl:hidden">Cerrar caja</span>
    <span class="hidden sm:block md:block lg:hidden xl:hidden">Cerrar</span>
    </button>

    <!-- MODALES PARA INGRESAR DATOS -->

    <dialog id="modal_monto" class="modal" hidden>
      <div class="modal-box">
        <h3 class="font-bold text-lg">{{name_current_process}}</h3>
        <p class="py-4">Ingrese el monto: </p>
        <input id="monto_input" [(ngModel)]="monto" placeholder="Debe ser mayor a cero..." type="text" class="input w-full mt-2">
        <div class="modal-action">
          <form method="dialog">
            <button class="btn text-white bg-orange-600 hover:bg-orange-400 m-2" (click)="abort_process()">
              Cancelar
            </button>
            <button class="btn text-white bg-indigo-600 hover:bg-indigo-400 m-2" (click)="closeModal('modal_monto')" [disabled]="isInputEmpty('monto_input')">
              Continuar
            </button>
          </form>
        </div>
      </div>
    </dialog>

    <dialog id="modal_codigo_admin" class="modal" hidden>
      <div class="modal-box">
        <h3 class="font-bold text-lg">{{name_current_process}}</h3>
        <p class="py-4">Ingrese el código administrador: </p>
        <input id="codigo_admin_input" [(ngModel)]="codigo_admin" placeholder="Código Administrador..." type="text" class="input w-full mt-2">
        <div class="modal-action">
          <form method="dialog">
            <button class="btn text-white bg-orange-600 hover:bg-orange-400 m-2" (click)="abort_process()">
              Cancelar
            </button>
            <button class="btn text-white bg-indigo-600 hover:bg-indigo-400 m-2" (click)="closeModal('modal_codigo_admin')" [disabled]="isInputEmpty('codigo_admin_input')">
              Continuar
            </button>
          </form>
        </div>
      </div>
    </dialog>

    <!-- MODALES PARA MOSTRAR MENSAJES -->
    <dialog id="modal_continuar_operacion" class="modal" hidden>
      <div class="modal-box">
        <h3 class="font-bold text-lg">{{name_current_process}}</h3>
        <p class="py-4"><br />¿Desea continuar?</p>
        <div class="modal-action">
          <form method="dialog">
            <button class="btn text-white bg-teal-600 hover:bg-teal-400 mr-2" (click)="continuarOperacion('modal_success', 'modal_error')">
              Continuar
            </button>
            <button class="btn text-white bg-orange-600 hover:bg-orange-400 m-2" (click)="cancelarOperacion('modal_continuar_operacion')">
              Cancelar
            </button>
          </form>
        </div>
      </div>
    </dialog>

    <dialog id="modal_success" class="modal" hidden>
      <div class="modal-box">
        <h3 class="font-bold text-lg">{{name_current_process}}</h3>
        <p class="py-4"><br />{{msg_success}}</p>
        <div class="modal-action">
          <form method="dialog">
            <button class="btn text-white bg-teal-600 hover:bg-teal-400 m-2" (click)="closeModal('modal_success')">
              Aceptar
            </button>
          </form>
        </div>
      </div>
    </dialog>

    <dialog id="modal_error" class="modal" hidden>
      <div class="modal-box">
        <h3 class="font-bold text-lg">{{name_current_process}}</h3>
        <p class="py-4"><br />{{msg_error}}</p>
        <div class="modal-action">
          <form method="dialog">
            <button class="btn text-white bg-orange-600 hover:bg.bg-orange-400 m-2" (click)="closeModal('modal_error')">
              Aceptar
            </button>
          </form>
        </div>
      </div>
    </dialog>

  </div>
