<app-drawer class="space-y-4">
    <button (click)="getAllCorteCaja()" class="btn btn-primary block">Mostrar todos los cortes de caja</button>
    <button (click)="abrirCorteCaja()" class="btn btn-primary block">Abrir corte de caja</button>
    <button (click)="cerrarCorteCaja()" class="btn btn-primary block">Cerrar corte de caja</button>
    <button (click)="eliminarCorteCaja()" class="btn btn-primary block">Eliminar corte de caja</button>
    <button (click)="getCorteCajaGanancias()" class="btn btn-primary block">Mostrar ganancias de la caja</button>
</app-drawer>